.btnWrapper {
  margin: 0px 0px 10px 0px;
}

.btn {
  background-color: #4f4b99;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.127);
}
.btn a {
  color: white;
}