.testBtn {
  background-color: green;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.btnUserPageBox {
  display: flex;
  padding: 0 0 10px 10px;
  margin: 0 10px 20px 0;
  border-bottom: 1px solid rgba(79, 75, 153, 0.234);
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
}
.btnUserPageBox div{
  user-select: none; 
}
.btnPageUsers {
  background-color: rgba(79, 75, 153, 0.266);
  display: flex;
  align-items: center;
}
.btnPageUsersActive {
  display: flex;
  align-items: center;
}
.btnPageUsers:hover {
background-color: rgba(79, 75, 153, 0.466);
}
.btnPageUsersActive {
  font-weight: 700;
  background-color: rgba(79, 75, 153, 0.666);
}

.btnCurrentPage{
  text-align: center;
  min-width: 60px;
  line-height: 16px
}
.FLBtn {
  padding: 7px 12px;
  font-size: 16px;
  background-color: rgb(213, 211, 211);
}
.FLBtn:hover {
  background-color: rgb(199, 198, 198);
}