.aside {
  grid-area: aside;
  background-color: rgba(99, 1, 119, 0.213);
  padding: 10px;
}

.list {

}

.item {
  padding: 0px 0px 15px 0px;
  
}

.item a {
  font-size: 20px;
  /* color: rgb(100, 1, 119); */
  text-transform: uppercase;
}
.item a.active {
  color: red;
}