.aside {
  grid-area: aside;
  /* background-color: rgba(99, 1, 119, 0.213); */
  padding: 0px 0px 0px 0px;
}

.list {

}

.item {
  padding: px 0px 15px 0px;
  
}

.item a {
  display: block;
  font-size: 18px;
  color: rgb(79, 75, 153);
  /* text-transform: uppercase; */
  padding:7px;
  margin: 5px 0px;
}
.item a:visited {

}
.item a.active {
  display: block;
  color: rgb(79, 75, 153);
  /* background-color: rgba(99, 1, 119, 0.3);
  width: 100%; */
}