body {
  
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr 100px;
  grid-template-areas: 
  "header header"
  "aside main"
  "footer footer"
}

.header {
  grid-area: header;
  background-color: rgb(90, 55, 97);
  padding: 10px;
}
.aside {
  grid-area: aside;
  background-color: rgb(163, 163, 163);
}
.main {
  grid-area: main;
  background-color: rgb(197, 195, 126);
}
.footer {
  grid-area: footer;
  background-color: rgb(116, 132, 187);
}
