.wrapper {
    position: relative;
}
.textareaWrap.textareaErrorWrapp textarea,
.inputWrap.inputErrorWrap input {
    border: 1px solid #ff0000;
}

/* messageError styles start ================= */
.messageErrorBox {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    z-index: 2;
    background: url(../../assets/img/info_error.svg) 0 0 / cover no-repeat;
}
.messageError {
    display: none;
    background-color: rgb(255, 74, 74);
    left: -150px;
    padding: 5px;
    top: -10%;
    width: 150px;
    position: absolute;
    font-size: 14px;
    color: white;
}
.messageErrorBox:hover .messageError {
    display: block;
}
/* messageError styles end ================= */
