.wrapper {
  margin: 40px;

}
.loginTitle {
  margin-bottom: 30px;
  font-size: 30px;
}
.form {
  /*background: #ecb0b0;*/
}
.inputBox {
  padding-bottom: 30px;
}
.label {
  font-weight: 600;
  font-size: 16px;
  display: block;
  padding-bottom: 10px;
}
.input {
  padding: 5px 10px;
}
.labelRemember {
  padding-right: 20px;
  display: inline-block;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  background: rgba(160, 225, 111, 0.77);
}