.wrapper {
  margin: 40px auto;
  max-width: 280px;
}
.loginTitle {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}
.form {
  /*background: #ecb0b0;*/
}
.inputBox {
  margin-bottom: 30px;
  width: 100%;
  
}
.inputBoxBtn {
  max-height: 40px;
  text-align: center;
}
.inputBoxCheckbox {
  display: flex;
  align-items: center;
}
.label {
  font-weight: 600;
  font-size: 16px;
  display: block;
  padding-bottom: 10px;
}
.input {
  padding: 5px 10px;
  min-width: 100%;
}
.labelRemember {
  padding-right: 20px;
  padding-bottom: 0;
  display: inline-block;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  background: rgba(160, 225, 111, 0.77);
  min-width: 100%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.439);
}