.wrapper {
  background-color: #4f4b99;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 25px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center ;
}
.loginBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.imgBox {
  width: 25px;
  margin: 0 10px 0 0;
}
.imgBox img {
  max-width: 100%;
  width: 100%;
}
.userTextBox{
 
}
.loginBox:hover .menuUser{
  display: block;
  transition: all 1s ease;
}
.menuUser {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: #4f4b99;
  border: 7px solid rgba(175, 65, 65, 0.001);
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  z-index: 1;
}
.menuUser ul {
  background-color: #f0f2f5;
  padding: 10px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.487);
}
.menuUser ul li {
  padding: 0px 0px 10px 0px;
}
.menuUser ul li:hover {
  text-shadow: 0px 0px 10px #4f4b99ce;
}
.menuUser ul li:last-of-type {
  padding: 0px 0px 0px 0px;
}