.wrapper {
    color: rgb(79, 75, 153);
    /* border-right: 1px solid rgb(79, 75, 153) ; */
}
.title {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
}
.wrapperListDialogs {
}
.itemDialog {
    margin: 0px 0px 10px 0px;
}
.itemDialogOpen {
  
}