.list {
  
}
.item {
  font-size: 16px;
  padding: 0 0 10px 0;
}
.item a {
  display: block;
  color: rgb(79, 75, 153);
  font-weight: 00;
  padding: 5px;

}

.item a.active {
  color: rgb(79, 75, 153);
  /* background-color: rgba(99, 1, 119, 0.2); */
  text-decoration: underline;
}