.item {
  padding: 0 0 10px 0px;
}
.item:last-of-type {
  padding: 0px 0px 0px 0px;
}
.item:hover {
  text-shadow: 0px 0px 10px #4f4b99ce;
}
.item a {
  display: block;
  font-size: 16px;
  color: rgb(79, 75, 153);
}
.item a.active {
  display: block;
  color: rgb(79, 75, 153);
}

/* @media  only screen  and (max-width: 768px) {
  .aside {
  display: none;
 }
} */