.wrapper {
  display: flex;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.439);
}
.wrapper div {
  width: 100%;
}
.input {
  width: 100%;
  padding: 8px 10px;
}

.btn {
  background-color: #4f4b99;
  font-size: 16px;
  font-weight: 500;
  padding: 3px 7px;
  color: white;
}