.Wrapper {
  padding: 10px
}

.Input {
  display: block;
  width: 100%;
  max-width: 300px;
  border: 1px solid palevioletred;
  padding: 7px;
  margin: 0 0 20px 0;
}
.Button {
  color: black;
  font-weight: 600;
  padding: 7px 24px;
  background-color: palevioletred;
  border-radius: 10px;
  margin: 0 0 40px 0;
}

.BoxMessages p {
  padding: 0 0 7px 0;
  font-style: italic;
  background-color: rgba(225, 183, 107, 0.638);
}